<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2216/9173/t/7/assets/settings.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2216/9173/t/7/assets/font-awesome.min.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2216/9173/t/7/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'><script type='text/javascript' ></script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>

<div id="rev_slider_5239_1_wrapper" class="revslidershow rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  fullwidth mode -->
	<div id="rev_slider_5239_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-15798" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='#ffffff' style='background:#ffffff' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/7/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']" 
			 data-y="['top','top','top','top']" data-voffset="['250','250','250','250']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['150px','150px','150px','150px']" data-hh="['20px','20px','20px','20px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_38.png" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['1','1','1','1']" 
			 data-y="['top','top','top','top']" data-voffset="['6','6','6','6']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['576px','576px','576px','576px']" data-hh="['246px','246px','246px','246px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_37.png" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['287','287','287','287']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['142px','142px','142px','142px']" data-hh="['22px','22px','22px','22px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_39.png" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['326','326','326','326']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['321px','321px','321px','321px']" data-hh="['28px','28px','28px','28px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_40.png" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['11','11','11','3']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['1217px','1217px','1217px','1519px']" data-hh="['523px','523px','523px','653px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_37.png" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['1243','1243','1243','1243']" 
			 data-y="['top','top','top','top']" data-voffset="['152','152','152','152']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['237px','237px','237px','237px']" data-hh="['31px','31px','31px','31px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_38.png" data-no-retina> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['1243','1243','1243','1243']" 
			 data-y="['top','top','top','top']" data-voffset="['244','244','244','244']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['242px','242px','242px','242px']" data-hh="['39px','39px','39px','39px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_39.png" data-no-retina> </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-15798-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['1243','1243','1243','1243']" 
			 data-y="['top','top','top','top']" data-voffset="['297','297','297','297']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['415px','415px','415px','415px']" data-hh="['36px','36px','36px','36px']" data-lazyload="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/BannerNuevos_Artboard_40.png" data-no-retina> </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>

        <script type="text/javascript">

            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
                errorMessage += "<br>Please replublish your slider to the current theme and current page again.";
                errorMessage += "<br>If above does not work don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily.";

                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            }

            document.addEventListener("DOMContentLoaded", function(event) {


                                if (setREVStartSize!==undefined) setREVStartSize(
                    {c: '#rev_slider_5239_1', responsiveLevels: [1240,1240,1240,480], gridwidth: [2000,2000,2000,580], gridheight: [550,550,550,450], sliderLayout: 'auto'});


                                var tpj=jQuery;


                                //  tpj.noConflict();
                
                window.revapi5239;
                tpj(document).ready(function() {
				if(tpj("#rev_slider_5239_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_5239_1");
				}else{
					revapi5239 = tpj("#rev_slider_5239_1").show().revolution({
						sliderType:"hero",
 data_rev:"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", data_slider_id:"rev_slider_5239_1",jsFileLocation:"https://cdn.shopify.com/s/files/1/2216/9173/t/7/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:9000,
						responsiveLevels:[1240,1240,1240,480],
						visibilityLevels:[1240,1240,1240,480],
						gridwidth:[2000,2000,2000,580],
						gridheight:[550,550,550,450],
						lazyType:"smart",
						shadow:0,
						spinner:"spinner2",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							allowHTML5AutoPlayOnAndroid: false,
							simplifyAll:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/

            });

        </script>

        <script>
                    var htmlDivCss = ' #rev_slider_5239_1_wrapper .tp-loader.spinner2{ background-color: #FFFFFF !important; } ';
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                    </div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>