@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: "Open Sans Regular";
  src: url(//cdn.shopify.com/s/files/1/2216/9173/t/17/assets/OpenSans-Regular.ttf?v=105347768130918336261670625919);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Extra Bold";
  src: url(//cdn.shopify.com/s/files/1/2216/9173/t/17/assets/OpenSans-ExtraBold.ttf?v=54779480643797413951670625934);
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url(//cdn.shopify.com/s/files/1/2216/9173/t/17/assets/OpenSans-SemiBold.ttf?v=126453384603656173911670625947);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dirty Headline";
  src: url("https://cdn.shopify.com/s/files/1/2216/9173/files/BebasNeue-Bold.otf?v=1669332833");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "OratorStd";
  src: url("https://cdn.shopify.com/s/files/1/2216/9173/files/OratorStd.otf?v=1667849030");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orator Medium";
 src: url("https://cdn.shopify.com/s/files/1/2216/9173/files/OratorStd.otf?v=1667849030");
  font-weight: 600;
  font-display: swap;
}
.container-fluid{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .row > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .justify-content-center {
      justify-content: center !important;
    }
    .w-100 {
      width: 100% !important;
    }
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  .d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
  .col-6 {
  flex: 0 0 auto;
  width: 50%;
}

  .col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

    .col-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  @media (min-width: 576px) {
    .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
    .text-sm-right{
      text-align: right;
    }
  }
    @media (min-width: 992px) {
       .d-lg-block {
    display: block !important;
  }
       .d-lg-none {
    display: none !important;
  }
      .offset-lg-1 {
        margin-left: 8.33333333%;
      }
        .offset-lg-2 {
    margin-left: 16.66666667%;
  }
	    .text-lg-right{
		    text-align: right;
	    }
      .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
       .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
      .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
      }
      .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
      }
      .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
      }
      .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
      }
      .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
      }
    }
  @media (min-width: 1280px) {
         .d-xl-block {
    display: block !important;
  }
       .d-xl-none {
    display: none !important;
  }
     .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  }
 footer{
    background: #ECF5E2 !important;
    position: relative;
    .content-box-newsletter{
      h4{
        font-family: "Orator Medium";
        color: #BA8F5F;
        font-size: 35px;
        line-height: 45px;
        text-transform: uppercase;
      }
      .input-group{
    -webkit-box-shadow: 6px 6px 0px 1px rgba(111,133,111,0.4);
          -moz-box-shadow: 6px 6px 0px 1px rgba(111,133,111,0.4);
          box-shadow: 6px 6px 0px 0px rgba(111,133,111,0.4);
        input{
          background: #6F856F;
          border: none;
          border-radius: 0;
          font-family: 'Open Sans', sans-serif;
          color: #ECF5E2;
          font-size: 14px;
          line-height: 19px;
          &::placeholder{
            font-family: 'Open Sans', sans-serif;
            color: #ECF5E2;
            font-size: 14px;
            line-height: 19px;
          }
        }
        button{
          background: #FFF;
          border: 1px solid #6F856F;
          color:#6F856F;
          letter-spacing: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    .box-gral-content-newsletter-recipes{
      margin-bottom: 40px !important;
      max-width: 1300px;
     .content-recipes-footer{
        position: relative;
        margin: 50px auto 0;
           width: 250px;
       @media(min-width: 992px){
        margin: 0px auto 0;
       }
          @media(min-width: 1280px){
        margin: 0px auto 0;
             width: auto;
       }
        .content-image-absolute-left{
          position: absolute;
          left: 0;
          top:0;
        }
        .content-title{
          font-family: "Orator Medium";
          color: #BA8F5F;
          font-size: 35px;
          line-height: 45px;
          text-transform: uppercase;
        }
        .content-button{
          text-align: center;
          margin-top: 20px;
         a{
           font-family: 'Open Sans', sans-serif;
           color: #6F856F;
           border: 1px solid #6F856F;
           background: #FFF;
           font-size: 14px;
          line-height: 19px;
           text-decoration: none;
           text-transform: uppercase;
           padding: 10px 22px;
           -webkit-box-shadow: 5px 5px 0px 0px rgba(111,133,111,0.4);
          -moz-box-shadow: 5px 5px 0px 0px rgba(111,133,111,0.4);
          box-shadow: 5px 5px 0px 0px rgba(111,133,111,0.4);
         } 
        }
       .content-image-absolute-right{
         position: absolute;
         top: 0;
         right: 0;
        }
       ul{
         display: block;
         @media(min-width: 992px){
         display: flex;
         }
         li{
           margin-right: 20px;
           &:last-child{
             margin-right: 0px;
                 margin-left: 20px;
           }
         }
       }
      }
    }
    .content-menu-footer-between{
      ul{
        display: flex;
        padding-left: 11%;
        @media(max-width: 991px){
         padding-left: 0%;
          
          flex-wrap: wrap;
        }
        li{
          padding-right: 25px;
          position: relative;
            @media(max-width: 991px){
                 padding-right: 0px;
              flex: 0 0 auto;
              width: 33.33%;
            }
          &::after{
            position: absolute;
            width: 1px;
            height: 19px;
            background: #707070;
            right: 12px;
            top: 4px;
            @media(min-width: 992px){
              content: "";
            }
          }
          &:last-child{
            padding-right: 0px;
            &::after{
              content: none;
            }
          }
          a{
            font-family: 'Open Sans', sans-serif;
            color: #707070;
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }
    .content-block-footer-information{
      @media(min-width: 992px){
        width: 75%;
      }
      .footer-menu{
        h4{
          font-family: "Orator Medium";
          color: #BA8F5F;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 12px;
          font-weight: 400;
        }
        p{
          font-family: 'Open Sans', sans-serif;
          color: #707070;
          font-size: 13px;
          line-height: 18px;
          a{
            color: #558263;
          }
        }
        .site-footer__linklist{
          li{
            padding-bottom: 0;
            @media(max-width: 575px){
              width: 100%;
            }
            a{
              font-family: 'Open Sans', sans-serif;
              color: #707070;
              font-size: 13px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .content-menu-footer-main{
      margin-top: 55px;
    }
     .footer-menu{
          @media(max-width: 575px){
           position: relative;
            z-index: 9;
          }
        .title-followUs{
          font-family: "Orator Medium";
          color: #BA8F5F;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 12px;
          font-weight: 400;
          @media(max-width: 575px){
            margin-top: 50px;
          }
        }
     }
    .content-description-footer{
      padding-left: 0;
      width: 100%;
        text-align: left;
       @media(min-width: 992px){
         width: 635px;
        }
      p{
        font-family: 'Open Sans', sans-serif;
        color: #707070;
        font-size: 13px;
        line-height: 18px;
        span{
          color: #558263;
          display: block;
          margin: 10px 0;
        }
      }
    }
    hr{
      margin: 25px 0;
      border-bottom: 1px solid #707070;
    }
    .content-image-absolute-footer-bottom{
      position: absolute;
    bottom: 18%;
    left: -90%;
      @media(min-width: 576px){
        bottom: 0;
        right: 0;
        left: auto;
      }
    }
  }
  .list-newsletter-box{
    display: block;
     @media(min-width: 992px){
     display: flex;
     }
    .li-newsletter{
      margin-right: 20px;
    }
  }
  #nutritional_info{
    text-align: center;
    img{
      @media(min-width: 992px){
        width: 50%;
      }
    }
  }
  .box-copyright-footer{
     font-family:'Open Sans', sans-serif;
    color: #6F856F;
    font-size: 11px;
    line-height: 15px;
  }