<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>      
    </div>
  </div>
  
  <div class="grid tabs-header hide medium-up--show">
    <div class="grid__item one-third">
      <div data-tab-target="#como-comprar" class="tab-header">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <h3>¿Cómo comprar?</h3>
      </div>
    </div>
    <div class="grid__item one-third">
      <div data-tab-target="#envios" class="tab-header">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <h3>Envíos: Tiempos y Costos</h3>
      </div>
    </div>
    <div class="grid__item one-third">
      <div data-tab-target="#pedidos" class="tab-header">
        <i class="fa fa-cubes" aria-hidden="true"></i>
        <h3>Pedidos</h3>
      </div>
    </div>    
  </div>
  
  <div class="grid">
    <div class="grid__item one-whole">
      <div data-tab-target="#como-comprar" class="tab-header medium-up--hide">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <h3>¿Cómo comprar?</h3>
      </div>
      <div id="como-comprar" class="tab-body">
        <h4 class="simple-collapse">¿Hay un mínimo de compra?</h4>
        <div class="simple-collapse--body">¡No tenemos mínimo de compra! Vendemos a granel, para que compres lo que necesites y  evitar residuos.</div>
        <h4 class="simple-collapse">¿Cuáles son sus métodos de pago?</h4>
        <div class="simple-collapse--body">Tenemos varias opciones: Tarjeta de crédito/débito, PayPal o pago en efectivo. Este último se hace por medio de Mercado Pago que te da la opción de muchos negocios donde puedes pagar, como bancos, OXXO, farmacias y muchos más.</div>
        <h4 class="simple-collapse">¿Cómo puedo elegir la cantidad exacta? </h4>
        <div class="simple-collapse--body">Para cada producto tenemos unas cantidades predeterminadas, si deseas otra cantidad puedes ponerla en el campo que está situado justo después de las cantidades predeterminadas. Recuerda que el número que introduzcas será en gramos si dice (grs) o en unidades si dice (pzs).</div>
        <h4 class="simple-collapse">¿Dónde puedo ver la información nutricional de los productos?</h4>
        <div class="simple-collapse--body">Después de la ventana de “Descripción” de cada producto, encuentras una ventana con el nombre “información nutricional”. Al darle click se te abrirá la tabla nutricional de cada producto.</div>
        <h4 class="simple-collapse">¿Ya hice mi pago en efectivo, cuánto tarda en reflejarse?</h4>
        <div class="simple-collapse--body">Mercado Pago nos notifica cuando un pago se realiza correctamente, generalmente tarda menos de 24 horas, en cuanto lo recibamos comenzaremos a armar tu pedido para que lo recibas cuanto antes.  ¡Muchas gracias por tu compra!</div>        
        <h4 class="simple-collapse">¿Dónde ingreso el cupón de descuento que tengo?</h4>
        <div class="simple-collapse--body">Cuando das click en el botón de pagar te solicitará tu información de contacto, la dirección de envío, el método de envío y la información para el pago. 

Si estás en una computadora en la parte superior derecha de esta página encontrarás un campo que dice “tarjeta de regalo o código de descuento” debes escribirlo ahí y luego dar click en “usar” para que tu descuento se vea reflejado. 

Si estás en el celular debes dar click en el botón “completa tu orden” luego de haber proporcionado todos los datos que se te solicitan y en la página que se te abrirá a continuación encontrarás un campo que dice “tarjeta de regalo o código de descuento” debes escribirlo ahí y luego dar click en “usar” para que tu descuento se vea reflejado.</div>
      </div>
      
      <div data-tab-target="#envios" class="tab-header medium-up--hide">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <h3>Envíos: Tiempos y Costos</h3>
      </div>
      <div id="envios" class="tab-body">
        <h4 class="simple-collapse">¿Tienen envíos a toda la República?</h4>
        <div class="simple-collapse--body">¡Sí! Llegamos a cada rincón de México.</div>
        <h4 class="simple-collapse">¿Cuánto tarda en llegar mi pedido?</h4>
        <div class="simple-collapse--body">Cuando tu pedido sale de nuestro centro de distribución, te enviamos un correo en el cual puedes encontrar el número de rastreo y ver en dónde se encuentra. 
Nuestros tiempos de entrega son:
CDMX de 1 a 3 días hábiles
Interior de la República de 2 a 5 días hábiles </div>
        <h4 class="simple-collapse">¿Cuál es el costo de envío?</h4>
        <div class="simple-collapse--body">Tu envío es GRATIS en pedidos mayores a $1,000
          CDMX:
 - pedido menor a $500 te cuesta $79
 - pedido menos a $1000 te cuesta $49

Interior de la República:
 - pedido menor a $500 te cuesta $149
 - pedido menos a $1000 te cuesta $119</div>
        <h4 class="simple-collapse">¿Qué paquetería usan?</h4>
        <div class="simple-collapse--body">Los pedidos se envían con DHL, excepto los de la CDMX que se envían con Segmail. </div>
        <h4 class="simple-collapse">¿Envían a otros países?</h4>
        <div class="simple-collapse--body">Lamentablemente solo tenemos envíos dentro de la República, ojalá muy pronto podamos llegar hasta donde estés.</div>
      </div>
      
      <div data-tab-target="#pedidos" class="tab-header medium-up--hide">
        <i class="fa fa-cubes" aria-hidden="true"></i>
        <h3>Pedidos</h3>
      </div>
      <div id="pedidos" class="tab-body">
        <h4 class="simple-collapse">¿Puedo rastrear mi pedido?</h4>
        <div class="simple-collapse--body">¡Por supuesto! En tu correo tienes tu número de rastreo, haciendo click en el número te lleva a la página correspondiente.</div>
        <h4 class="simple-collapse">¿Puedo agregar o cambiar mi pedido?</h4>
        <div class="simple-collapse--body">¡Claro! Podemos hacer cambios a tu pedido siempre y cuando no haya salido de nuestra bodega. Puedes ponerte en contacto en yocompro@estadonatural.com.mx y haremos todo lo posible por ayudarte.</div>
        <h4 class="simple-collapse">¿Qué tipo de empaque utilizan? </h4>
        <div class="simple-collapse--body">Cada uno de nuestros productos se envía en bolsas oxo biodegradables selladas con calor para conservar su alta calidad, los frascos se envuelven con un papel especial que evita que se rompan o se maltraten, todo lo empacamos con mucho amor y cuidado para que lo recibas en perfectas condiciones.</div>
        <h4 class="simple-collapse">Ya tengo mi pedido, pero no sé cómo usarlo…</h4>
        <div class="simple-collapse--body">Puedes encontrar los Usos y Beneficios, Información Nutricional y Descripción de tus productos en la página directa del producto.
También te invitamos a conocer nuestro blog que tiene tips y recetas deliciosas!</div>
      </div>
    </div>    
  </div>
  
  <div class="grid tabs-header hide medium-up--show">
    <div class="grid__item one-third">
      <div data-tab-target="#tiendas" class="tab-header">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h3>Tiendas</h3>
      </div>
    </div>
    <div class="grid__item one-third">
      <div data-tab-target="#productos" class="tab-header">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <h3>Productos</h3>
      </div>
    </div>
    <div class="grid__item one-third">
      <div data-tab-target="#puntos-naturales" class="tab-header">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        <h3>Puntos Naturales</h3>
      </div>
    </div>    
  </div>
  
  <div class="grid">
    <div class="grid__item one-whole">
      <div data-tab-target="#tiendas" class="tab-header medium-up--hide">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h3>Tiendas</h3>
      </div>
      <div id="tiendas" class="tab-body">
        <h4 class="simple-collapse">¿Tienen tiendas físicas?</h4>
        <div class="simple-collapse--body">Sí, tenemos 8 sucursales en la CDMX. Las puedes encontrar en la <a href="/pages/sucursales">siguiente página</a></div>
        <h4 class="simple-collapse">¿Es el mismo método de compra?</h4>
        <div class="simple-collapse--body">¡Así es! Queremos que tengas la misma experiencia en las sucursales como en la página. En nuestras tiendas físicas también puedes comprar a granel, sin mínimos de compra y sin empaques.</div>
        <h4 class="simple-collapse">¿Sus tiendas son cero waste?</h4>
        <div class="simple-collapse--body">Estamos mejorando constantemente por ser mínimo desperdicio. En nuestras sucursales no utilizamos plástico, nuestras bolsas son de papel reciclado y ofrecemos un descuento del 5% a nuestros clientes si llevan sus propios recipientes.</div>
        <h4 class="simple-collapse">¿Cuáles son los horarios de sus tiendas?</h4>
        <div class="simple-collapse--body">Estamos abiertos de Lunes a Domingo de 11:00 am a 7:00 pm, ¡te esperamos!</div>
        <h4 class="simple-collapse">¿Tengo que llevar mi recipiente para comprar?</h4>
        <div class="simple-collapse--body">No necesariamente, nosotros tenemos bolsas con papel reciclado. Pero si llevas tus recipientes te damos 5% de descuento, puedes encontrar nuestra colección de recipientes en cualquier sucursal o en nuestra tienda en línea.</div>
      </div>
    
      <div data-tab-target="#productos" class="tab-header medium-up--hide">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <h3>Productos</h3>
      </div>
      <div id="productos" class="tab-body">
        <h4 class="simple-collapse">¿Sus productos son orgánicos?</h4>
        <div class="simple-collapse--body">Todos nuestros productos son 100% naturales pero no todos son orgánicos. 
Te invito a que visites nuestra categoría de Orgánicos y explores más sobre nuestros productos y las certificaciones de cada uno de ellos.</div>
        <h4 class="simple-collapse">¿Tienen productos para todo tipo de dietas?</h4>
        <div class="simple-collapse--body">Nuestra variedad de productos es muy grande, estamos seguros que puedes encontrar el que necesitas.
          Tenemos productos: veganos, orgánicos, keto, sin azúcar añadida, entre otros. Puedes encontrar nuestras categorías en el <a href="/collections/">siguiente link</a></div>
        <h4 class="simple-collapse">¿Cómo puedo vender mis productos en Estado Natural?</h4>
        <div class="simple-collapse--body">¡Nos encanta conocer proveedores nuevos! Si tienes algún producto que vaya con nuestra línea de negocio, mándanos un correo a <a href="mailto:info@estadonatural.com.mx">info@estadonatural.com.mx</a> con la información y lista de precios a granel.</div>
      </div>
   
      <div data-tab-target="#puntos-naturales" class="tab-header medium-up--hide">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        <h3>Puntos Naturales</h3>
      </div>
      <div id="puntos-naturales" class="tab-body">
        <h4 class="simple-collapse">¿Qué son los PUNTOS NATURALES?</h4>
        <div class="simple-collapse--body">Es nuestro programa de lealtad, el cual ofrece descuentos, premios, sorpresas y beneficios exclusivos para quienes estén inscritos.  Para inscribirte utiliza el botón de la esquina inferior izquierda. <p class="text-center" style="margin-top:25px;"><img src="https://cdn.shopify.com/s/files/1/2216/9173/files/boton.png?v=1594936886" alt="Estado Natural" title="Estado Natural"></p></div>
        <h4 class="simple-collapse">¿Tiene algún costo inscribirme al programa PUNTOS NATURALES?</h4>
        <div class="simple-collapse--body">No, ninguno. Es un beneficio adicional que les quisimos proporcionar a nuestros clientes.</div>
        <h4 class="simple-collapse">¿Cómo funciona el programa de PUNTOS NATURALES?</h4>
        <div class="simple-collapse--body">Una vez que ya estás inscrito al programa, al hacer tus compras en Estado Natural ganas PUNTOS NATURALES que puedes canjear por diferentes beneficios y descuentos. Estos puntos son acumulables y por cada $1 peso gastado en la tienda recibes 1 PUNTO NATURAL, sólo debes de proporcionar tu número de teléfono.</div>
        <h4 class="simple-collapse">¿Tienen vigencia los PUNTOS NATURALES?</h4>
        <div class="simple-collapse--body">No, pero te recomendamos utilizarlos mes con mes ya que algunas de nuestras promociones y sorpresas son exclusivas y no sabemos cuándo las volveremos a tener.</div>
        <h4 class="simple-collapse">¿Por qué me están pidiendo mi fecha de cumpleaños?</h4>
        <div class="simple-collapse--body">Porque el día de tu cumpleaños queremos consentirte con el 10% de descuento en nuestras tiendas, pero si no te sientes cómodo NO es obligatorio proporcionarlo. </div>
        <h4 class="simple-collapse">¿Cómo puedo ver cuántos puntos tengo?</h4>
        <div class="simple-collapse--body">En tiendas físicas puedes preguntar al staff y ellos te ayudarán, sólo te pedirán tu correo. En línea puedes hacerlo iniciando sesión en tu cuenta, desde el icono de <b>Ayuda > PUNTOS NATURALES</b> y ahí verás la cantidad de puntos que tienes y por qué artículos puedes canjearlos.</div>
        <h4 class="simple-collapse">¿Puedo usar mis puntos de tienda online en las tiendas físicas y viceversa?</h4>
        <div class="simple-collapse--body">Por el momento son independientes, pero estamos trabajando en la integración :)</div>
        <h4 class="simple-collapse">¿Se pueden usar en tienda física?</h4>
        <div class="simple-collapse--body">Si claro, los puntos naturales aplican en tiendas físicas y en tienda online. Si tu compra fue en tienda física, puedes ir a cualquiera de nuestras sucursales y canjearlos. Si tu compra fue online, inicia sesión y podrás canjear tus puntos.</div>
      </div>
    </div>    
  </div>  
</div>
